body {
  background: lightsalmon;
  font-family: system-ui, sans-serif;
}

nav {
  background-color: rgba(255,255,255,0.5);
  display: flex;
  flex-direction: row;

}

nav a {
    color: black;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.4s;
}

nav a:hover{
  background: rgba(255,255,255,0.4);
}

nav a.active {
  background-color: white
}
